@font-face {
    font-family: OldeEnglish;
    src: url('../fonts/OldeEnglish.ttf');
}

p {
    font-size: 16px;
}

.form {
    margin-bottom: 8px;
}

.card {
    border: 0px;
}

.jumbotron {
    color: white;
    background-color: #1a1a1a;
    text-align: center;
}

.blueBg {
    color: white;
    background-color: #1a1a1a;
    text-align: center;
}

.form-header {
    color: white;
    background-color: #1a1a1a;
    padding: 5px;
}

.form {
    border: 1px;
    border-style: solid;
    border-color: #1a1a1a;
    margin-bottom: 8px;
    border-top: none;
}

.form-group {
    padding: 10px;
}

.btn {
    margin: 5px;
    margin-bottom: 10px;
}

.card-header {
    color: white;
    background-color: #1a1a1a;
}

#button {
    background-color: darkgray;
}

h1 {
    font-family: OldeEnglish, sans-serif;
}

.card-body a {
    color: black;
}

.card-body a:hover {
    text-decoration: unset;
    color: #5e5e5e;
}

.btn:focus {
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.23);
}

hr {
    width: 97%;
}